
# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.env/
.venv/

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.mypy_cache/

dist/
build/
*.egg-info/

# ==========================================
# RUST
# ==========================================

target/
Cargo.lock

# ==========================================
# GO
# ==========================================

bin/
pkg/

# ==========================================
# NODE
# ==========================================

node_modules/
npm-debug.log*

# ==========================================
# LOGS
# ==========================================

logs/
*.log

# ==========================================
# OUTPUTS
# ==========================================

outputs/

# ==========================================
# MODELS
# ==========================================

models/classifiers/*.pkl

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# EDITORS
# ==========================================

.vscode/
.idea/

